@import-normalize;
/* bring in normalize.css styles  */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(211, 194, 194, 0.781);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.statictitle {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40px;
  color: rgb(141, 72, 106);
  background-color: rgba(196, 182, 193, 0.521);
  border-radius: 10px;
  margin: 0px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 1px 2px 10px 0px rgba(78, 66, 78, 0.144) inset;
}
.profilesection {
  display: flex;
}
.statisticinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  padding: 0px;
}
.infosection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 50px;
  margin-bottom: 60px;
}
