.TransactionHistory {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
}
.sectiontransaction {
  display: flex;
  background-color: rgba(196, 182, 193, 0.521);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  padding: 20px;
  box-shadow: 1px 2px 10px 0px rgba(78, 66, 78, 0.493) inset;
}
.typetransaction,
.amounttransaction {
  font-family: Roboto;
  color: rgb(58, 52, 52);
  margin-right: 20px;
}
.amounttransaction:hover {
  color: brown;
  cursor: pointer;
}
.typetransaction:hover {
  color: brown;
  cursor: pointer;
}
.currencytransaction {
  font-family: Roboto;
  color: rgb(58, 52, 52);
  margin-right: 10px;
}
.currencytransaction:hover {
  color: brown;
  cursor: pointer;
}

.transactiontype,
.transactionamount {
  border-radius: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: rgb(63, 28, 46);
  margin-right: 5px;
  padding: 10px 20px;
  box-shadow: -5px 16px 8px 0px rgba(34, 60, 80, 0.2);
}
.transactioncurrency {
  border-radius: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: rgb(63, 28, 46);
  padding: 10px 20px;
  box-shadow: -5px 16px 8px 0px rgba(34, 60, 80, 0.2);
}
